html, body {
	height: 100%;
	width: 100%;
}

/*Header*/
#logo {
	max-height: 40px;
	max-width: 40px;
}


/*Content*/
.carousel-item img {
	filter: brightness(65%);
	max-height: 600px;
}

.carousel-caption {
	top: 50%;
}

/*TESTING*/
/*
.decagon {
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 200px 300px 0 0;
  	border-color: #00ff59 transparent transparent transparent;
  	-webkit-clip-path: polygon(100% 0, 86% 10%, 75% 16%, 64% 22%, 53% 26%, 39% 30%, 26% 32%, 14% 34%, 0% 35%, 0 0);
}
*/

/*Footer*/


/*Responsive*/
@media screen and (min-width: 700px) {
	.carousel-caption h1 {
		font-size: 350%;
	}
	.carousel-caption h4 {
		font-size: 150%;
	}
}

@media screen and (min-width: 900px) {
	.carousel-caption h1 {
		font-size: 500%;
	}
	.carousel-caption h4 {
		font-size: 200%;
	}
}